body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: white;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #181a1a;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  background-image: url("https://www.meme-arsenal.com/memes/9efe2c5747a2cec4bf561815c1726285.jpg");
}

body {
  background: var(--bkg-color);
  background-image: url("https://images.unsplash.com/photo-1604937455095-ef2fe3d46fcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29sb3JmdWwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}
